
body {
  background-image:url(../images/background.png);
  display: flex;
  flex-wrap: wrap;
  font-family: 'Mina', sans-serif;
  

}
.logo {
  margin-left: 35px;
}
.top-nav  {
  margin-left: 250px;
  margin-top: 60px;
  
}
.top-button {
  background-color: #fffcef;
  border-radius: 5px;
  
}
button:hover {
  background-color: #333644;
  color: white;
  border: none;

}

.align-text-top {
  float: right;

}
.text-uppercase {
  margin-top: 60px;
  margin-left: 30px;
}


button {
  background-color: #efefef;
  border-radius : 8px;
  border: none;
  padding: 8px;
}
  .social {
    background-color: #efefef;
    border-radius: 50%;
  padding : 5px;
  float: right;
  margin: 5px;

}

.social:hover {
  background-color: #333644;
  color: white;
}

section {
  margin: auto;
  margin-left: 200px;
  margin-bottom: 40px;
  width: 75%;
  
}
.pink ,.blue {
  margin-left: 210px;
  margin-top: -55px;
  
  
}


.cat-button1 {
  height:20px;
}
.text-uppercase {
  font-weight: bold;
  color: #8C3717;
  font-size: 20px;
}
.hr {
  width: 75%;
  color :#333644;
  margin-right: 120px;
  margin-left: 120px;
  
}
.nav-block {
  margin-top: 60px;
  
}
.copyright {
  font-weight: bold;
  line-height: 1px;
  float: left;
}
.nav-footer {
  text-align: center;

}
.prev, .next {
  margin-left: 20px;
  text-align: center;
  background-color: #fffcef
}
#agence-footer {
  margin-left: 115px;
  
}
.mentions-légales {
  font-weight: bold;
  text-align: justify;
  margin-right: 120px;
  margin-top: -10px;


}
